<!-- <div class=row>
  <div class="col-md-12 center"> 
    <input type="file" #coverFilesInput (change)="onChange($event)" class="file-input"  />    
  </div>
  <div class="col-md-3">
    <input type="number" [(ngModel)]="imageHeight" placeholder="height of the image" required>
  </div>
  <div class="col-md-3">
    <input type="number" [(ngModel)]="imageWidth" placeholder="width of the image" required>
  </div>  
  <div class="col-md-3">
    <input type="text" [(ngModel)]="imageSKU" placeholder="SKU of the Image" required>
  </div>
  <div> 
    <button (click)="printPreview()">Preview</button>
  </div>
</div> -->
